.crew-bg{
    width: 100vw;
    height: 100vh;
    background-image: url('/src/assets/images/assets/crew/background-crew-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -80px;
}
.crew h6 {
    
    font-size: 23px;
    font-weight: 400;
    letter-spacing: 4px;

}
.crew{
    margin-left: 150px;
    margin-right: 150px;
    display: flex;
    flex-direction: column;
}
.crew-container{
    display: flex;
    flex-direction: row;
    margin-top: -10px;
    gap: 120px;
  margin-left: -130px;
}
.active-point{
   color: white;
   font-size: 130px;
   
    margin-top: -100px;
}
.active-point:hover{
    cursor: pointer;
    opacity: 0.8;
}
.crew-right img{
    width: 350px;

    
}

.crew-left{
    width:500px;
    margin-top: 50px;
}
.crew-left h4{
    color: rgb(195, 225, 244);
    font-weight: 300;
    font-size: 25px;
    margin: 0;

}
.foto{
    top: 10%;
}
.crew-left h3{
    font-size: 35px;
    font-weight: 300;
}
.crew-left .text{
    font-size: 18px;
    color: rgba(195, 225, 244, 0.816);
    
}
.point{
    font-size: 130px;
    color: #35383F;
}

.crew-ancre{
     position: absolute;
    bottom: 10%;
    left: 11%;
}
.point:hover{
    cursor: pointer;
}


