.destination-container{
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/src/assets/images/assets/destination/background-destination-desktop.jpg');
}
.planete-ancre p{
     font-family: 'barlow condensed';
     font-size: 17px;
     color: rgba(195, 225, 244, 0.882);
     transition: 0.3s ease;
}
.planete-ancre{
    display: flex;
    gap: 30px;
}
.destination{
    margin-left: 200px;
    margin-right: 280px;
    margin-top: 60px;
}
.planete{
    width: 400px;
}
.traveltime{
     font-family: 'barlow condensed';
     opacity: 0.8;
     margin: 0;
}
.destination-content{
    display:flex;
    gap: 250px;
    flex-direction: row;
}
.planete-active::before{
    position: absolute;
    content: '';
    background-color: white;
    height: 2px;
    width: 33px;
    top: 37%;
}
.destination h6{
    font-size: 23px;
    font-weight: 400;
    letter-spacing: 4px;
}
.num{
    color: rgba(255, 255, 255, 0.25);
    font-size: 23px;
    margin-right: 15px;
    font-weight: 500;
}
.destination-droite h1{
    font-size: 80px;
    margin: 0;
    font-weight: 300;
    letter-spacing: 5px;
}
.destination-droite .text{
    opacity: 0.8    ;
    color: rgb(195, 225, 244);
    line-height: 30px;
    font-size: 17px;
}
.dest{
    opacity: 0.3;
    font-weight: 300;
    margin-top: 50px;
    margin-bottom: 30px;

}
.destination-droite{
    margin-top: -35px;
}
.planete-ancre p:hover{
    cursor: pointer;
    opacity: 0.7;
  
}
.bottom-dest{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
}
.bottom-dest h5{
    margin: 0;
    font-weight: 400;
    font-size: 20px;
}
.link{
    text-decoration: none;
}